 h3{
    color: #44caca;
}
h2{
    color: #5b82ec;
}
p{
    color: #0000007c;
}
body{
    background-color: #6f4ad3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}